{% assign matomo_table_header_class = "title title--small" %}
{% assign matomo_landing_path_width = "60%" %}
{% assign matomo_ref_width = "70%" %}
{% assign matomo_include_bounce = "true" %}

{%
#################
# Metrics
#################
%}
{% if matomo_active_view == 'metrics' %}
<div class="layout layout--col gap--space-between">
  <div class="grid grid--cols-3">
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <div class="w--14 h--1.5 mb--2 bg--black rounded--large"></div>
        <span class="value value--base lg:value--large value--tnums" data-value-format="true" data-value-locale="{{ trmnl.user.locale }}">{{ total_pageviews }}</span>
        <span class="label label--base lg:label--large">Pageviews</span>
      </div>
    </div>
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <div class="w--14 h--1.5 mb--2 bg--gray-5 rounded--large"></div>
        <span class="value value--base lg:value--large value--tnums" data-value-format="true" data-value-locale="{{ trmnl.user.locale }}">{{ total_visitors }}</span>
        <span class="label label--base lg:label--large">Visitors</span>
      </div>
    </div>
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--base lg:value--large value--tnums">{{ time_display }}</span>
        <span class="label label--base lg:label--large">Time on Site</span>
      </div>
    </div>
  </div>
  <div id="{{ chart_id }}" class="w--full h--64 lg:h--96"></div>
</div>

<script>
  const chartId = {{ chart_id | json }};
  createMatomoChart(chartId);
</script>
{% endif %}

{%
#################
# Landing Pages
#################
%}
{% if matomo_active_view == 'landing_pages' %}
<div class="layout layout--col gap--space-between">
  <div class="text--center">
    <div class="title title--large lg:title--xlarge">Top Landing Pages</div>
    <span class="description description--base lg:description--large">{{ date_range_display }}</span>
  </div>
  {{ matomo_landing_pages_table }}
</div>
{% endif %}

{%
#################
# Top Referrers
#################
%}
{% if matomo_active_view == 'top_referrers' %}
<div class="layout layout--col gap--space-between">
  <div class="text--center">
    <div class="title title--large lg:title--xlarge">Top Referrers</div>
    <span class="description description--base lg:description--large">{{ date_range_display }}</span>
  </div>
  {{ matomo_referrers_table }}
</div>
{% endif %}

{%
#################
# Top Countries
#################
%}
{% if matomo_active_view == 'top_countries' %}
<div class="layout layout--col gap--space-between">
  <div class="text--center">
    <div class="title title--large lg:title--xlarge">Top Countries</div>
    <span class="description description--base lg:description--large">{{ date_range_display }}</span>
  </div>
  {{ matomo_countries_table }}
</div>
{% endif %}

<div class="title_bar">
  <img class="image image-stroke--medium" src="data:image/svg+xml;base64,{{ logo_svg | base64_encode }}" />
  <span class="title">{{ matomo_site_name }}</span>
  <span class="instance">{{ trmnl.plugin_settings.instance_name | default: 'Analytics' }}</span>
</div>
